.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--base-padding);
  border-bottom: 1px solid var(--main-text-color);
  background-color: var(--main-component-color);
}

.router-info {
  font-weight: bold;
}

.select-info {
  display: flex;
  gap: 20px;
  list-style: none;
  font-style: italic;
}
