.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  flex: 1;
}

.main-content {
  padding: var(--base-padding);
}
